.images-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.imagen {
    width: 250px;
    height: 250px;
    position: absolute;
}

.esquina-superior-izquierda {
    top: 275px;
    left: 0;
}

.esquina-superior-derecha {
    top: 275px; 
    right: 0;
}


.esquina-inferior-izquierda {
    bottom: -250px;
    left: 0;
}

.esquina-inferior-derecha {
    bottom: -250px;
    right: 0;
}
@media (max-width: 768px) {
    .images-container {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 20px; 
    }

    .imagen {
        position: static;
    }

    .esquina-superior-izquierda,
    .esquina-superior-derecha,
    .esquina-inferior-izquierda,
    .esquina-inferior-derecha {
        position: static;
    }
}

